body {
  min-height: 100vh;
  background: linear-gradient(#091517 90%, #091517);
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 50px;
  font-weight: 600;
  font-stretch: expanded;
  word-spacing: .5vh;
  color: white;
  -webkit-text-stroke: 1px #F8F8F8;
  text-shadow: 0px 9px 20px #AA77FF;
}

.registration_div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input {
  margin: 10px;
  border-radius: 10px;
  height: 20px;
  border-style: hidden;
}

.reg2 {
  background-image: linear-gradient(#4FBED1, #0B94D4 90%);
  margin: 100px;
  width: 400px;
  height:auto;
  border-radius: 10%;

  box-shadow: 0 2px 8px 0 #CCCCCC;
  font-family: sans-serif;
}

.reg2:hover {
  box-shadow: 0px 9px 20px #AA77FF;
}

.submitbtn {
  width: 150px;
  background: #02C7DB;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 20px;
}

.submitbtn:hover {
  background: linear-gradient(#0A9EF2, #02C7DB);
}
